doctype html
html
    head
        title Sync Playlist
        if useExternalStyles
            link(ref="stylesheet", href="/build/application.css")
    body
        h1 Hello world!
        script(src="/build/vendor.js")
        script(src="/build/application.js")
